:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --red-color: #89051C;
  --accent-color: #7668CA;
  --accent-darkColor: #584AAC;
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroyMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: medium;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroySemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: semibold;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: semibold;
}
@font-face {
  font-family: "logofont";
  src: url("../fonts/../fonts/logofont.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-moz-selection {
  background-color: var(--accent-color);
  color: var(--light-color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--light-color);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background-color: #1D1C22;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 120% px;
  color: var(--light-color);
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  padding: 28px 0;
  width: 100%;
}

.logo {
  font-family: "logofont", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--light-color);
}
.logo span {
  color: var(--red-color);
}

.hero {
  padding-top: 50px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__content {
  margin-top: 50px;
  width: 50%;
}
.hero__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 46px;
  line-height: 105%;
  color: var(--light-color);
}
.hero__title span {
  color: var(--accent-color);
}
.hero__descr {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--light-color);
}
.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 61px;
  min-width: 240px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--light-color);
  border-radius: 14px;
  background-color: var(--accent-color);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.hero__btn:hover {
  background-color: var(--accent-darkColor);
}
.hero__btn:active {
  background-color: var(--accent-color);
}
.hero__requirements {
  width: 50%;
}
.hero__requirements-title {
  margin: 0;
  padding: 0;
  max-width: 280px;
  margin-right: auto;
  margin-bottom: 37px;
  margin-left: auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: var(--light-color);
}
.hero__requirements-cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: (134px)[2];
  grid-template-columns: repeat(2, 134px);
  row-gap: 20px;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
}
.hero__requirements-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px 10px 20px 10px;
  border: 3px solid #7668CA;
  border-radius: 15px;
}
.hero__requirements-img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}
.hero__requirements-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.hero__requirements-img--fluid {
  width: 52px;
  height: 40px;
  margin-bottom: 12px;
}
.hero__requirements-img--fluid img {
  display: block;
  width: 100%;
  height: 100%;
}
.hero__requirements-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--light-color);
}

.cta {
  padding-top: 300px;
  padding-bottom: 250px;
}
.cta__title {
  text-align: center;
  margin-bottom: 40px;
}

.form {
  margin-right: auto;
  margin-left: auto;
  width: 390px;
}
.form__label {
  width: 100%;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form__label--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  color: #ADADAD;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  padding: 16px 18px;
  border-radius: 6px;
  border: 1px solid #86858A;
  background-color: transparent;
}
.form__label {
  position: relative;
  width: 100%;
}
.form__label--steam::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 12px;
  width: 18px;
  height: 18px;
  background-image: url("../img/svg/steam.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.form__label--ruble::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("../img/svg/ruble.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.form__label--promo {
  margin-left: 6px;
  width: 130px;
}
.form__input--promo {
  width: 130px;
}
.form .input__text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--light-color);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.form .input__text span {
  font-weight: 600;
}

.form_radio_group {
  margin-top: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.form_radio_group-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.form_radio_group input[type=radio] {
  display: none;
}

.form_radio_group label {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  font-size: 14px;
  line-height: 47px;
  border: 1px solid #86858A;
  border-right: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.form_radio_group .form_radio_group-item:first-child label {
  border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #86858A;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
  background: var(--accent-color);
}

/* Hover */
.form_radio_group label:hover {
  color: var(--accent-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.checkbox__text {
  font-size: 12px;
  line-height: 16px;
  color: var(--light-color);
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #86858A;
  border-radius: 3px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}

.custom-checkbox:checked + label::before {
  border-color: #fff;
  background-color: #fff;
  background-image: url("../img/svg/check.svg");
}

.form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 61px;
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--light-color);
  border-radius: 14px;
  background-color: var(--accent-color);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.form__btn:hover {
  background-color: var(--accent-darkColor);
}
.form__btn:active {
  background-color: var(--accent-color);
}

.footer {
  padding-top: 25px;
  padding-bottom: 55px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 32px;
}
.nav__link {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-color);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.nav__link:hover {
  color: var(--accent-color);
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link svg path {
  fill: var(--light-color);
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
.social__link--tg:hover svg path {
  fill: #039BE5;
}
.social__link--vk:hover svg path {
  fill: #0077FF;
}
/*# sourceMappingURL=main.css.map */